body {
    overflow-y: scroll;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.svg.icon {
    fill: black
}

.objectStats img, .objectList img {
    width: 1.5rem;
    margin-right: 0.25rem;
}

.menu .ui.dropdown {
    margin-left: .5rem;
}
